@import "tailwindcss";

:root {
  --background: #2f3135;
  --primary: #ffba00;
  --foreground: #f5f5f5;
  --text-primary: #f5f5f5;
  --text-secondary: #999999;
  --text-secondary-muted: #777777;

  --font-primary: 'Inter', sans-serif;
  --font-secondary: 'Lato', sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-primary: var(--primary);
  --color-text-primary: var(--text-primary);
  --color-text-secondary: var(--text-secondary);
  --color-text-secondary-muted: var(--text-secondary-muted);

  --font-primary: var(--font-primary);
  --font-secondary: var(--font-secondary);
}

html{
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-primary);
}